{:frodo/config {:web {:port 3000
                      :handler-fn tetris.handler/app}
                :nrepl {:port 7888
                        :cljs-repl? true}}

 :nomad/environments {"prod"
                      {:frodo/config {:web {:port 3556}
                                      :nrepl nil}}}}
